name: Python CI

on:
  push: {}
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
        - python-version: "pypy-3.9"
          os: ubuntu-latest
        - python-version: "pypy-3.10"
          os: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        uv sync --group dev
    - name: Run test suite
      run: |
        uv run py.test -v --cov=tinydb
    - name: Perform type check
      run: |
        uv run pytest --mypy -m mypy tinydb tests
      if: ${{ contains(matrix.python-version, '3.14') }}
    - name: Verify dist package format
      run: |
        uv build
        uv run --with twine twine check dist/*
      if: ${{ contains(matrix.python-version, '3.14') }}
    - name: Upload coverage result
      if: ${{ env.COVERALLS_REPO_TOKEN != 'windows-latest' }}
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
         uv run coveralls
